// #food-supply #search-spinner {
// #search-spinner {
//   width: 1rem;
//   height: 1rem;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
//   animation: spin 1s infinite linear;
//   position: absolute;
//   left: 4.125rem;
//   top: 1.55rem;
// }

// @keyframes spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

#food-supply {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #f7f7f7;

  @media (width< 768px) {
    width: 100%;
  }

  & > * {
    padding: 0 0.5rem;
  }

  & h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0.5rem 0rem;

    width: 100%;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;

    border-top: 3px solid red;
  }

  & form {
    position: relative;
    padding: 0.5rem;

    // & .mic-input input[type="search"] {
    //   width: 100%;
    //   padding-left: 2rem;
    //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    //   background-repeat: no-repeat;
    //   background-position: 0.625rem 0.75rem;
    //   background-size: 1rem;
    //   position: relative;
    // }
    // & .mic-input.loading input[type="search"] {
    //   background-image: none;
    // }
  }

  & nav {
    flex: 1;
    overflow: auto;
    margin: 0.3rem 0.5rem 0px 0.5rem;
  }

  & nav a span {
    float: right;
    color: #eeb004;
  }
  & nav a.active span {
    color: inherit;
  }

  & nav .active i {
    color: inherit;
  }

  & nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-grow: 1;

    white-space: pre;
    margin: 0 5px;
    padding: 0.5rem;
    border-radius: 8px;
    color: inherit;

    font-weight: 500;
    text-decoration: none;
    // gap: 11rem;

    &:hover {
      background: #e3e3e3;
    }

    &.active {
      background: hsl(214, 75%, 54%);
      color: white;
    }

    &.pending {
      color: maroon;
    }
  }

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & li {
    display: flex;
    margin: 0.25rem 0;
  }
}

#supply-detail-stock {
  display: flex;
  flex-direction: column;
  // flex: 1;
  // mean flex-grow : 1;    ➜ The div will grow in same proportion as the window-size
  // flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size
  // flex-basis : 0; ➜ The div does not have a starting value as such and will
  //  take up screen as per the screen size available for
  //  e.g:- if 3 divs are in the wrapper then each div will take 33%.

  padding: 0rem 1rem;
  width: 60%;
  background-color: rgb(156, 25, 104);
  &.loading {
    opacity: 0.25;
    transition: opacity 100ms;
    transition-delay: 100ms;
  }
  @media (width< 768px) {
    width: 100%;
  }
}
