// определяем положение <layout>
#detail-app-bar {
  display: flex;
  flex: 1;
   overflow: auto;
  width: 100%;
  // странно, на высота должна быть любой, но не более 100%
  height: 30%;
  @media (width< 768px) {
   flex-direction: column;

  }

 }

#app-bar .buttons {
  &.button-active{
    outline: 1px solid white;
  }
}
